<main class="py-4" id="main-content">
  <div class="container gt-main-container">
    <div class="row justify-content-center">
      <div class="col-md-11 body-frame">
        <div class="card">
          <div class="card-header bg-primary text-white font-weight-bold">登録情報の更新</div>
            <%= render "tasks_edit_form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>