<div class="card w-75 tasks-show_groups-show_card">
  <!-- Card Header -->
  <% @tasks.each do |task| %>
  <div class="card-header bg-primary task-show_taskname">
   <%= task.task_name %>
  </div>

  <div class="card-body">
    <div class="text-right text-black-50">
      最終更新日: 2020-05-31 07:14:28 [ 1ヶ月前 ]
    </div>
    <div>
      <h4 class="font-weight-bold">
        <%= task.task_name %>
      </h4>
      <div class="d-sm-block">
        <span class="text-black-50 mr-2">優先度</span>
        <span class="m-1 px-3 border tasks-show_priority rounded text-white">高い</span>
        <span class="text-black-50 mr-2">ステータス</span>
        <span class="m-1 px-3 border tasks-show_status rounded text-white">進行中</span>
      </div>

      <div class="mt-4">
        チェックリスト
        <ul class="check-list-lists ui-sortable" id="check-list-sortable-items">
        </ul>
        <div class="mt-2 mb-2 check-list-add-in-show tip" data-title="アイテム追加">
            <i class="fa fa-fw fa-plus-circle fa-lg text-secondary"></i>
        </div>
        <div class="check-list-input-group" style="display: none;">
          <div class="check-list-input-div-in-show mr-1">
            <input type="text" class="form-control check-list-item-input">
          </div>
          <div>
            <button class="btn btn-primary" ><i class="fab fa-fw fa-telegram-plane"></i></button>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row-reverse">
        <a href="#" class="btn btn-primary text-white tasks-show_btn" data-title="詳細を表示する"><i class="fa fa-fw fa-edit"></i></a>
        <a href="#" class="btn btn-primary text-white tasks-show_btn" data-title="詳細を表示する"><i class="fa fa-fw fa-child"></i></a>
        <a href="#" class="btn btn-primary text-white tasks-show_btn" data-title="詳細を表示する"><i class="fa fa-fw fa-arrow-down"></i></a>
        <a href="#" class="btn btn-primary text-white tasks-show_btn" data-title="詳細を表示する"><i class="fa fa-fw fa-info"></i></a>
      </div>
    
    </div>

    <hr>

      <div>
        <a href="" id="showAll" class="float-right" data-open-text="すべて開く" data-close-text="すべて閉じる">すべて開く</a>
        <h5>履歴</h5>
        
          <div class="ticket-head mb-1">
              <div>
                <span class="font-weight-bold">
                  <img src="https://grouptask.biz/profile/image/831" class="profile-icon ml-1 mr-1"  width="30" height="30">
                  <span class="profile-name-cover">こてつ</span>
                </span> 
                さんが 
                <span class="font-weight-bold">
                  <img src="https://grouptask.biz/profile/image/831" class="profile-icon ml-1 mr-1"  width="30" height="30">
                  <span class="profile-name-cover">こてつ</span>
                </span> さんに依頼                        [ 1ヶ月前 2020-05-31 07:14:28 ]
              </div>
          </div>
          <div class="ticket-body">
            <div class="ticket-message mb-3"><div>

            <div>「仕事の見える化機能」について説明します。</div>
            <div>読み終わりましたら、このタスクを終了してください。</div>
            <div>(終了の仕方)この下の「更新」ボタンを押してください。</div>
            <div>フォームが表示されるので「ステータス」を「終了」に変更して、その下の「更新」ボタンを押してください。</div>

            <div class="ticket-buttons mb-2">
              <button class="btn btn-a btn-primary "  >引用して更新</button>
              <button class="btn btn-b btn-primary ticket-update" data-to-user="831" data-citation="no">更新</button>
            </div>
          </div>
      </div>
  </div>
  <% end %>
</div>