<div class="card w-75 tasks-show_groups-show_card">
  <div class="card-header bg-primary text-white font-weight-bold">グループ管理</div>

  <div class="card-body">
    <div class="form-group">
      <label for="name" class="control-label ">グループ名
        <span class="badge badge-danger">必須</span>
      </label>
      <input type="text" class="form-control " name="name" value="チームだいすけ" required  autofocus>
      <small class="form-text text-muted">すでに使われているグループ名は利用できません。</small>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary w-25" >
        登録
      </button>
    </div>
    
  </div>
</div>