<div class="card users-member_card">
  <div class="card-header bg-primary text-white font-weight-bold">メンバー管理</div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="alert alert-primary mb-3">グループのメンバーのうち、特定のメンバーをマネージャーとして設定し、カテゴリーの作成・編集権限やメンバーの招待など、オーナーと同じような権限を持たすことができます。</div>
          <table class="table table-bordered bg-light">
            <thead class="bg-info">
              <tr>
                <th class="users-member_card_th">
                  <a href="https://grouptask.biz/member/manage?field=name&amp;sort=desc" class="ajax-link">名前</a>
                </th>
                <th class="users-member_card_th">
                  <a href="https://grouptask.biz/member/manage?field=role&amp;sort=desc" class="ajax-link">役割</a>
                  <i class="fa fa-fw fa-angle-down  text-light "></i>
                </th>
                <th class="users-member_card_th" >処理</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  こてつ
                  <br>hiyori0701@yahoo.co.jp
                  <br>2ヶ月前に参加
                  <br>1週間前にログイン
                </td>
                <td>
                  オーナー
                </td>
                <td>
                  --
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>