.navbar__container{
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.04);
  max-width: 100%;
  padding-left: 45px;
}
.navbar__profile-icon{
  width: 35px;
  height: 35px;
  padding:2px;
  border-radius: 50%;
}
