// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  max-width: 100%!important;
}

.tasks-new_app-container {
  min-height: 100%;
  position: relative;
  background-color: #f9f9f9;
}

.tasks-new_content-container {
  margin-right: 0;
  margin-left: 0;
}


#main-content {
  margin-top: 60px;
  width: 100%;
}

#paste {
  max-height: 70vh;
  overflow: scroll;
  padding: 5px;
}

.tasks-new_paste-message {
  min-height: 100px;
}

.tasks-new_icon-button {
  padding: 6px;
  border-radius: 5px;
}

.tasks-new_flatpickr-input {
    background-color: #e9ecef!important;
    cursor: pointer;
}

.tasks-new_check-list-item {
  display: flex;
}

.tasks-new_check-list-delete {
  width: 40px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  i {
    line-height: 2;
  }
}

.tasks-new_check-list-input-div {
  width: calc(100% - 40px);
  display: inline-block;
}

.tasks-new_check-list-add {
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
    background-color: #3490dc!important;
}





.tasks-show{
  font-size: 14.4px;
}
// .tasks-show > .card {
//   margin: auto;
// }

.btn {
  padding: 6px 12px;
  margin-right: 4px;
  width: 44px;
  height: 37px;
  background-color: #3490dc;
  text-align: center;
}

.btn-a{
  float: left;
  width: 130px;
}

.btn-b{
  float: left;
  width: 70px;
}

.priority{
  background-color: red;
}

.status{
  background-color: #3490dc;
}


.d-sm-block{
  height: 23px;
}